*{
    margin: 0;
    padding: 0;
}
img{
    width: 335px;
    height: 431px;
    padding: 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.area-conteudo{
    position: relative;
}

.conteudo{
    position: absolute;
    bottom: 44px;
    top: 332px;
    
    left: 23px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}



p{
    font-size: 17px;
    font-weight: 300,lighter;
}

li{
    list-style: none;
}

@media (max-width: 361px){
    img{
        width: 225px;
        height: 321px;
    }
    .area-conteudo{
        position: relative;
    }
}

@media (max-width: 251px){
    img{
        width: 175px;
        height: 271px;
    }

    .area-conteudo{
        position: relative;
    }
}

























