*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
    

html{
    font-family: 'Public Sans', sans-serif;
}

.pinturas .pintura img{
    width: 335px;
    height: 431px;
    width: 100%;
    /* Não vi você colocar um tamanho nas imagens */
}

.pinturas{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.pinturas .pintura{
    width: 335px;
    height: 431px;
    position: relative;
}

.pinturas .pintura .informacoes{
    position: absolute;
   
    color: white;
    bottom: 40px;
    left: 20px;
}
.pinturas .pintura .informacoes h2{
    font-size: 30px;
    margin-bottom: 8px;
}
.pinturas .pintura .informacoes h3{
    font-size: 17px;
    font-weight: 300;
}


@media (max-width: 1400px){
    .pinturas{
        max-width: 900px;
        margin: 30px 0;
    }
}







  






















