*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Dongle:wght@700&family=Fira+Code:wght@300;400;500;600;700&family=Lobster+Two:ital,wght@1,400;1,700&family=Oswald:wght@500&family=Playfair+Display:ital,wght@1,500&family=Public+Sans:wght@400;700&family=Source+Sans+Pro:wght@700&family=Source+Serif+Pro:ital,wght@0,300;0,400;1,600&display=swap');

img{
    width: 335px;
    height: 431px;
    padding: 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    padding: 50px;
}

.area-conteudo{
    position: relative;
}

.conteudo{
    position: absolute;
    bottom: 44px;
    left: 23px;
    font-family: 'Public Sans', sans-serif;
    color: white;
}

h1{
    font-size: 30px;
    font-weight: 700,bold;
}
p{
    font-size: 17px;
    font-weight: 400,regular;
}

li{
    list-style: none;
}

@media (max-width: 361px){
    img{
        width: 225px;
        height: 321px;
    }
}

@media (max-width: 251px){
    img{
        width: 175px;
        height: 271px;
    }

  






















